.TodoSearch{
    background:#e6e6e6;
    border-radius:10px;
    border:1px solid #008991;
    margin:0 24px;
    height:64px;
    width:calc(85% - 62px);
    font-size:24px;
    font-family:montserrat;
    font-weight:400;
    color:#6d6d6d;
    box-shadow:0 1px 2px #529199
}
.TodoSearch::placeholder{
    color:#a5a5a5;
    font-family:montserrat;
    font-weight:400
}
.TodoSearch:focus{
    outline-color:#00545f;
    border:none;
    border: 1px solid rgb(136, 136, 136);
    
}